/* Google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* This is for smooth scroll behaviour of the page  */
html {
    scroll-behavior: smooth;
}

/* My default values  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* Styling for header area  */
header .navbar-section {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* Navigation menu design  */
header .navbar-section nav {
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar-section nav .icon {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
    transition: all .3s ease;
}

header .navbar-section nav span {
    color: tomato;
    transition: all .3s ease;
}

header .navbar-section nav .icon:hover {
    transform: scale(1.02);
    color: tomato;
}

header .navbar-section nav .icon:hover span {
    color: black;
}

header .navbar-section nav .download-btn {
    border: 1px solid rgba(13, 19, 33, 0.8);
    border-radius: 8px;
    padding: 17px 24px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease;
}

header .navbar-section nav .download-btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}


/* Hero or banner section design  */
.hero-section {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(rgba(255, 99, 71, 0.2), rgba(255, 71, 246, 0.295)), url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .content-area {
    width: 998px;
    height: 582px;
}

.hero-section .content-area h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 25px 0;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
}

.contact-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 23px;
    margin-top: 32px;
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid black;
}

.contact-btn:hover {
    background: white;
    color: black;
}

/* The header section ends here ! */

/* The main area starts here  */
main {
    width: 1140px;
    margin: 154px auto;
}

/* why web development? section design  */
.why-web-dev {
    width: 946px;
    margin: 0 auto;
}

.title {
    width: 852px;
    margin: 0 auto;
    text-align: center;
}

.title h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

/* article design  */
article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

article .text {
    width: 477px;
}

article .text h3 {
    color: rgba(255, 129, 71, 0.8);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

article .text p {
    text-align: justify;
}

article .text .article-btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 20px;
    background: transparent;
    margin-top: 32px;
    opacity: .7;
    margin-top: 32px;
    display: inline-block;
    transition: all .3s ease;
}

article .text .article-btn:hover {
    background-color: black;
    color: white;
}


/* why web development section ends here  */

/* My inspiration section starts here  */
.inspiration {
    width: 1140px;
    margin: 90px auto;
}

.inspiration iframe {
    display: block;
    margin: 80px auto;
    border-radius: 16px;
}

/* My inspiration section ends here  */

/* My current-target section starts here  */
.current-target {
    width: 1140px;
}

.current-target .title h2 {
    margin-top: 90px;
}

.current-target .target-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.target-container .skill {
    width: 364px;
    height: 310px;
    padding: 40px;
    border-radius: 16px;
    margin: 48px 0;
}

.target-container .skill h2 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}

.target-container .skill a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-top: 24px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    transition: all .3s ease;
}

.target-container .skill a:hover {
    color: tomato;
}

.target-container .skill p {
    text-align: justify;
    margin-top: 10px;
}

.target-container .html {
    background: rgba(255, 76, 30, 0.05);
}

.target-container .css {
    background: rgba(0, 76, 232, 0.05);
}

.target-container .js {
    background: rgba(255, 223, 0, 0.05);
}

/* My current-target section starts here  */


/* My next target section starts here  */
.next-target p {
    margin: 24px auto;
}

.next-target .stack-container {
    width: 1140px;
    height: 219px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 40px;
}

.stack-container a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    transition: all .3s ease;
}

.stack-container a:hover {
    color: tomato;
}

.next-target {
    margin: 30px 0;
}

/* My next target section ends here  */


/* support section starts here  */
.support {
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.support .title h2 {
    color: white;
}

.support .title p {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 55px;
}

.support input {
    width: 548px;
    height: 57px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

.support input[type="submit"] {
    width: 120px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin-left: 10px;
}

.support input[type="submit"]:hover {
    background-color: transparent;
    color: white;
    border: white solid;
    cursor: pointer;
}

/* Support section design is completed  */
/* The main area ends here  */

/* Footer Design  */
footer {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
}

footer p {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

footer .social-links a {
    margin-left: 8px;
}

footer .social-links img {
    transition: all .3s ease;
}

footer .social-links img:hover {
    transform: scale(1.2);

}